*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    color:white;
    padding: 15px;

}
.home{
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
}
.link{
    color: rgb(160, 156, 156);
    text-decoration: none;
    padding: 10px;
}

label{
    color: rgb(160, 156, 156);
}


    .disabled{
        padding: 10px;
        text-decoration: none;
        color: grey;
}


.search{
    float: right;
    border-radius: 10%;
    color: grey;
}
button{
    background-color: black;
    color: green;
    border-radius: 10%;
}

button:hover{
    background-color: green;
    color: white;
}

@media screen and (max-width: 768px) {
    .home, .link, .nav_container, .navbar, .search, .disabled, nav, label {
      display: none;
    }
    .navbar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 10px;
      background-color: black;
    }
    .hamburger-conteiner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;     
    }
    .hamburger{
      
      width: 50px;
      height: 2px;
      background-color: white;
      position: relative;
    }
    .hamburger::after, .hamburger::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: white;
  
    }
    .hamburger::after{
      top: 10px;
    }
    .hamburger::before{
      top: -10px;
    }
  }